* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
  line-height: 1.15;

}

body {
  color: #777;
  font-size: 1rem;
  line-height: 1.42857;
  font-family: "Poppins Light";
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

.container {
  max-width: 1430px;
  margin-left: auto;
  margin-right: auto;
}